name: Build Metal Inventory App

on:
  push:
    tags:
      - 'v*'  # Runs only when you push a tag like v1.0, v1.1, etc.
  workflow_dispatch:  # Allows manual trigger from GitHub Actions page

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pyinstaller


      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed Metalica.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Metalica_exe
          path: dist/Metalica.exe
